body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/gatito-nuevo-y-mucho-mejor-que-la-niña.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

.fix-logo-nav {
  height: 5rem;
}

#nota {
  font-size: small;
}

/* Contacto */
#Contacto {
  color: #ffffff;
  background-color: #212529;
  width: 100%;
  display: block;
  padding: 1em 5em 5em 5em;
}

#Contacto form label {
  font-weight: 700;
  color: #ffffff;
}
